<link rel="stylesheet" href="/css/home.css">
{{#if haspost}}
<div>
    {{#each postMaping}}
        <div class="post">
            <div class="postheader">
                <a class="username" href="/user/{{this.user.id}}">@{{this.user.username}}</a>
                <div class="menu">
                    <button class="menu-btn">&#x22EE;</button>
                    <ul class="menu-options">
                        {{#if this.creator}}
                            <li>
                                <form action="/delete" method="post">
                                    <input type="hidden" name="id" value="{{this.id}}">
                                    <input type="submit" value="Deletar">
                                </form>
                            </li>
                            <li>
                                <form action="/edit" method="post">
                                    <input type="hidden" name="id" value="{{this.id}}">
                                    <input type="submit" value="Editar">
                                </form>
                            </li>
                            {{else}}
                            <li>
                                <a href="/comment/{{this.id}}">Acompanhar a discussão</a>
                            </li>
                        {{/if}}

                    </ul>
                </div>
            </div>
            <div class="postcontent">
                <h4>{{this.title}}</h4>
                <pre>{{this.content}}</pre>
            </div>
            <div class="postaction">
                <a href="/comment/{{this.id}}"><i class="bi bi-chat-dots"></i>{{this.commentLength}}</a>
            </div>
        </div>
    {{/each}}
    
</div>
{{else}}
<div class="notpost">
    <p>Ainda não a nenhuma publicação, seja o primeiro, comece <a href="/create-new-post">por aqui</a>!</p>
</div>
{{/if}}